body {
    text-align: center; 
}

.mainContainer {
    margin: 0 auto;
    max-width: 50rem;
}

.header-txt {
    margin: 0;
}

div.header {
  background-color: #e9c1c1;
}

div.flex {
  display: flex;
  justify-content: center;
}

.content {
    background-color: #c8c9cc;
}

.sideBar {
    background-color: #1a5b69;
}

p {
  padding: 5px;
}


div.footer {
  background-color: #15190d;
}

.footer-txt, .footer-p {
    margin: 0;
    color: white;
}
